div.profile_card {
	font-family: lucida sans unicode, lucida grande, sans-serif;
	width: 350px;
	margin: auto;
	margin-top: 5%;
	padding: 2%;
	background-color: #f2f2f2;
	color: #999999;
	font-size: 16px;
	border: 1px solid #7ECDD2;


}

h2 {
	font-size: 3em; 
	color: #7ECDD2;
}

h2:first-child {
	margin-top: -10px;
	margin-bottom: -40px;
	font-weight: 500;
}

h2:nth-child(2) {
	font-weight: 100;
}

h3 {
	color: #7ECDD2;
}

img {
	max-width: 100%;
}

@media screen
and (min-width: 320px)
and (max-width: 414px) {
	div.profile_card {
		width: 90%;
		padding: 5%;
	}
}